{
    "env": {
        "mocha": true
    },
    "globals": {
        "expect": true
    },
    "plugins": [
        "mocha"
    ],
    "rules": {
        "node/no-unpublished-require": ["off"]
    }
}